<strong>Hi {{ organizer }}!</strong>
<p>There is a new subscription at your meetapp <strong>{{ meetapp }}</strong></p>
<p>
  <strong>Date: </strong>{{ meetappDate }} <br />
  <br />
  <strong>Subscriber: </strong>{{ user }}<br />
  <strong>E-mail: </strong>{{ email }}<br /><br /><br />
  <small>Subscribed at: {{ sendDate }}</small>
  <br />
</p>
